.grandiflora-one-regular {
    font-family: "Grandiflora One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .aqua {
    background-color: aqua;}

  .images{
    width: 300px;
  }

  .color {width: 2000px}


  a {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color: gold;
  }

color: var(--Color-2, #000);
font-variant-numeric: lining-nums tabular-nums ordinal;
font-feature-settings: 'case' on, 'dlig' on, 'ss03' on, 'ss05' on, 'cv10' on;
font-family: "Averia Serif Libre";
font-size: 166px;
font-style: italic;
font-weight: 400;
line-height: 34px; /* 20.482% */
letter-spacing: -13.28px;